
﻿<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta property="og:site_name" content="danzzapi.xyz/sign-up" />
    <meta property="og:title" content="Sign Up | Alizin Api" />
    <meta property="og:url" content="https://danzzapi.xyz/sign-up" />
    <meta property="og:image" content="https://telegra.ph/file/72d45ec36061d47f2e83b.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Alizin dev" />
    <meta property="og:description" content="Register-se, site de api para bots de whatsapp, gratuito." />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Register-se, site de api para bots de whatsapp, gratuito.">
	<meta name="author" content="Alizin-dev">
	<meta name="keywords" content="Register-se, site de api para bots de whatsapp, gratuito.">
		
	<!-- ICON -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/1.png">

	<link rel="canonical" href="/sign-up">

	<title>Sign Up | Alizin Api</title>

	<link href="css/font.css?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

	<!-- Choose your prefered color scheme -->
	<!-- <link href="css/light.css" rel="stylesheet"> -->
	<!-- <link href="css/dark.css" rel="stylesheet"> -->

	<!-- BEGIN SETTINGS -->
	<!-- Remove this after purchasing -->
	<link class="js-stylesheet" href="css/style.css" rel="stylesheet">
	</head>
	<body>
<main class="content">
				<div class="container-fluid p-0">

					<div class="row">
						<div class="col-md-10 col-xl-8 mx-auto">
							<h1 class="text-center"></h1>
							<p class="lead text-center mb-4"></p>
							
							<div class="text-center mt-4">
							<h1 class="h2">INICIAR</h1>
							<p class="lead">
								Comece a criar a melhor experiência de usuário possível para seus clientes.
							</p>
						</div>

							<div class="row justify-content-center mt-3 mb-2">
								<div class="col-auto">
									<nav class="nav btn-group">
									</nav>
								</div>
							</div>

							<div class="tab-content">
								<div class="tab-pane fade show active" id="monthly">
									<div class="row py-4">
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<div class="card-body d-flex flex-column">
													<div class="mb-4">
														<h5>GRÁTIS</h5>
														<span class="display-4">R$ 0 REAIS.</span>
													</div>
													<h6><b>acesso:</b></h6>
													<ul class="list-unstyled">
														<li class="mb-2">
															<div class="bx bx-check-circle"> pedido: 100/dia</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> limite: 100/dia</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> RECURSOS GRÁTIS</div>
														</li>
													</ul>
													<div class="mt-auto">
														<a href="#sign-in" class="btn btn-lg btn-outline-primary">COMEÇE AGORA</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<div class="card-body d-flex flex-column">
													<div class="mb-4">
														<h5>PREMIUM</h5>
														<span class="display-4">R$ 15 REAIS.</span>
														<span>/MÊS</span>
													</div>
													<h6><b>acesso:</b></h6>
													<ul class="list-unstyled">
														<li class="mb-2">
															<div class="bx bx-check-circle"> pedido: 1000/dia</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> APIKEY PERSONALIZADA</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> limite: 1000/dia</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> RECURSO PREMIUM</div>
														</li>
													</ul>
													<div class="mt-auto">
														<a href="https://wa.me/5521989701174?text=Vs Alizin, eu quero pedir *usuário premium* 1 mês 15 REAIS." class="btn btn-lg btn-outline-primary">Peça agora</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<div class="card-body d-flex flex-column">
													<div class="mb-4">
														<h5>VIP</h5>
														<span class="display-4">R$ 25 REAIS.</span>
														<span>/MÊS</span>
													</div>
													<h6><b>acesso:</b></h6>
													<ul class="list-unstyled">
														<li class="mb-2">
															<div class="bx bx-check-circle"> pedido: ilimitado</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> APIKEY PERSONALIZADA</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> limite: ilimitado</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> RECURSOS PREMIUM</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> RECURSOS VIP</div>
														</li>
													</ul>
													<div class="mt-auto">
														<a href="https://wa.me/5521989701174?text=Vs Alizin, eu quero pedir *usuário VIP* 1 mês 25 REAIS." class="btn btn-lg btn-outline-primary">Peça agora</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
						<br><br>
						<div class="card" id="sign-in">
							<div class="card-body">
								<div class="m-sm-4">
									<form action="/sign-in">
										<div class="mb-3">
											<label class="form-label">EMAIL</label>
											<input class="form-control form-control-lg" type="text" name="email" placeholder="Digite seu e-mail" required>
										</div>
										<div class="mb-3">
											<label class="form-label">USERNAME</label>
											<input class="form-control form-control-lg" type="username" name="username" placeholder="Crie o seu nome" required>
										</div>
										<div class="mb-3">
											<label class="form-label">SENHA</label>
											<input class="form-control form-control-lg" type="password" name="password" placeholder="Crie sua senha" required>
										</div>
										<div class="mb-3">
											<label class="form-label">SENHA</label>
											<input class="form-control form-control-lg" type="password" name="password" placeholder="CONFIRME SUA SENHA" required>
										</div>
										<div class="g-recaptcha" data-sitekey="6Lf33xIjAAAAAGB79lNhYOYczae6XLGmn-rEE73A"></div>
										já tem uma conta?  										<a href="/sign-in">Entre na sua conta</a>
										<div class="text-center mt-3">
											<button type="submit" class="btn btn-lg btn-primary">ENTRAR</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</main>

	<script src="js/main.js"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>

</html>
